This is an OpenMW (Open Morrowind) Project.
Use these LUA Scripting docs for reference: https://openmw.readthedocs.io/en/latest/reference/lua-scripting/index.html
Use example projects in the /scripts/Example folder
print statements for printing debug messages. DO NOT USE THE ui.showMessage() FUNCTION unless it is a player facing message that is gameplay related.

You can run ".\debug.ps1 -noLog -focus" for me once you are done to let me test the changes.

Maintain the project patterns and best practives you see in the /scripts/Examples folder.
